@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontFamily: "Inter", sans-serif;
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);
}
body {
  font-family: var(--fontFamily);
}
#hamburger.active span:first-child {
  transform: translate(3px, 6px) rotate(45deg);
}
#hamburger.active span:last-child {
  transform: translate(3px, -8px) rotate(-45deg);
}
#hamburger.active span:nth-child(2) {
  opacity: 0;
}
